<!DOCTYPE html>
<html>
<head>
  <title>Rozsazení v lodích na vodáckém kurzu 2023 SPŠE Ječná</title>
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>
  <h1>Rozsazení v lodích na vodáckém kurzu 2023 SPŠE Ječná</h1>
  <a href="/registrace">Registrovat se</a>


  <script src="/public/script.js"></script>

</body>
</html>
